<%- include('partials/header') %>

<div class="centerPage">


  <div id="home">
    <div class="container">

      <div id="heading">
        <h1>Welcome to Shopping Guide</h1>
        <p>Your custom made grocery tracking application designed for your convenience</p>
      </div>

      <div class="logBox">
        <form action="/login" method="post">
          <div class="form-floating mb-3">
            <input type="text" class="form-control" name="username" id="floatingInput" placeholder="Username">
            <label for="floatingInput">Username</label>
          </div>
          <div class="form-floating">
            <input type="password" class="form-control" name="password" id="floatingPassword" placeholder="Password">
            <label for="floatingPassword">Password</label>
          </div>
          <button class="btn btn-primary my-3 w-100" type="submit" name="loginSubmit">Log In</button>
        </form>

        <p><a class="coloredLink" href="/register">Click here </a>to create an account</p>
      </div>

      <div class="descriptionBox d-flex justify-content-around w-100">
        <div class="card">
          <i class="fas fa-shopping-cart"></i>
          <h5>Track your shopping history</h5>
          <p>A list of all your bought items are presented to you with a click of your mouse, sorted by their date, store and price. To provide you a layout of your history.</p>
        </div>
        <div class="card">
          <i class="fas fa-wallet"></i>
          <h5>The most updated prices</h5>
          <p>See the latest prices anyone has paid to buy items. Prepare a gorcery list before going for shopping and see which goods are most affordable in which stores. </p>
        </div>
        <div class="card">
          <i class="fas fa-chart-line"></i>
          <h5>Keep up with price changes</h5>
          <p>Check an items purchase history to see the price change over certain amount of time.</p>
        </div>
      </div>

      <div class="searchBox">
        <form class="d-flex">
          <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
          <button class="btn btn-outline-success" type="submit">Search</button>
        </form>
      </div>

    </div>
  </div>
</div>

<%- include('partials/footer') %>
