body {
  margin: 0;
}

.centerPage {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/**************************HOME PAGE*****************************/

#home {
  text-align: center;
}

.logBox, .searchBox {
  margin: 50px auto;
  width: 60%;
}

.descriptionBox .card {
  text-align: center;
  width: 30%;
}

.descriptionBox i {
  font-size: 3rem;
  margin: 1rem;
}

/************************USER PAGE*********************************/

#userPage {
  padding: 7% 15%;
}

.productsHeader {
  color: white;
  border-color: black !important;
}

.productsDetails {
  color: transparent;
}

/************************PRODUCTS PAGE******************************/

.tableItem {
  width: 100%;
}

/***********************ONE PRODUCT SECTION****************************/

.productTableBox {
  width: 80%;
}
